/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 


@font-face {font-family:"DS-DIGII";src:url("../fonts/DS-DIGII.html") format("truetype"),font-weight:normal;font-style:normal;}



@font-face {font-family:"Asiyah";src:url("../fonts/Asiyah.otf") format("otf"),url("../fonts/Asiyah.ttf") format("truetype"),font-weight:normal;font-style:normal;}